<form method="POST" action="/login">
  <input type="text" id="username" name="username" placeholder="Kullanıcı Adı Giriniz">
  <select id="team" name="team">
    <option value="team1">
     Takım 1
    </option>
    <option value="team2">
    Takım 2
    </option>
  </select>
  <input type="submit">
</form>
